<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <title><%= title %></title>
    <link rel="stylesheet" href="frozenUi/css/frozen.css" media="screen">

    <script type="text/javascript" src="frozenUi/lib/zepto.min.js"></script>
    <script type="text/javascript" src="frozenUi/js/frozen.js"></script>
    <link rel="stylesheet" href="css/case-item.css" media="screen">

    <style type="text/css">

    </style>
</head>
<body class="body">
<header class="ui-header ui-header-positive ui-border-b" style="background-color: #4F4C4C">
    <i class="ui-icon-return" onclick="history.back()"></i><h1><%= title %></h1>
</header>
<footer class="ui-footer ui-footer-stable ui-border-t">
    <div class="ui-row-flex" style="height: 100%;">
        <div class="ui-col ui-col-3">
            <div class="ui-row account" style="">
                <div class="cart">
                    <img src="icons/cart_icon.png">
                    <div class="ui-badge">1</div>
                </div>
                <p >购物车空空如也~</p>
            </div>
        </div>
        <div class="ui-col complete">结算</div>
    </div>
</footer>
<section class="ui-container">
    <ul class="ui-row">
        <li class="ui-col ui-col-50 case-item">
            <div class="ui-row-flex ui-whitespace ui-row-flex-ver item-container">
                <div class="ui-col ui-col-3 ui-tag-hot image-item" style="background-image:url(images/lengrou.jpg);"></div>
                <div class="ui-col info">
                    <h1>水晶东坡肉</h1>
                    <p>125.00￥</p>
                    <button class="add">
                        添加
                    </button>
                </div>
            </div>
        </li>
        <li class="ui-col ui-col-50 case-item">
            <div class="ui-row-flex ui-whitespace ui-row-flex-ver item-container">
                <div class="ui-col ui-col-3 ui-tag-hot image-item" style="background-image:url(images/lengrou.jpg);"></div>
                <div class="ui-col info">
                    <h1>水晶东坡肉</h1>
                    <p>125.00￥</p>
                    <button class="add">
                        添加
                    </button>
                </div>
            </div>
        </li>
        <li class="ui-col ui-col-50 case-item">
            <div class="ui-row-flex ui-whitespace ui-row-flex-ver item-container">
                <div class="ui-col ui-col-3 ui-tag-hot image-item" style="background-image:url(images/lengrou.jpg);"></div>
                <div class="ui-col info">
                    <h1>水晶东坡肉</h1>
                    <p>125.00￥</p>
                    <button class="add">
                        添加
                    </button>
                </div>
            </div>
        </li>
        <li class="ui-col ui-col-50 case-item">
            <div class="ui-row-flex ui-whitespace ui-row-flex-ver item-container">
                <div class="ui-col ui-col-3 ui-tag-hot image-item" style="background-image:url(images/lengrou.jpg);"></div>
                <div class="ui-col info">
                    <h1>水晶东坡肉</h1>
                    <p>125.00￥</p>
                    <button class="add">
                        添加
                    </button>
                </div>
            </div>
        </li>
        <li class="ui-col ui-col-50 case-item">
            <div class="ui-row-flex ui-whitespace ui-row-flex-ver item-container">
                <div class="ui-col ui-col-3 ui-tag-hot image-item" style="background-image:url(images/lengrou.jpg);"></div>
                <div class="ui-col info">
                    <h1>水晶东坡肉</h1>
                    <p>125.00￥</p>
                    <button class="add">
                        添加
                    </button>
                </div>
            </div>
        </li>
    </ul>
</section>


<script type="text/javascript">

</script>
</body>
</html>
