<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <title><%= title %></title>
    <link rel="stylesheet" href="frozenUi/css/frozen.css" media="screen">
    <script type="text/javascript" src="frozenUi/lib/zepto.min.js"></script>
    <script type="text/javascript" src="frozenUi/js/frozen.js"></script>
    <link rel="stylesheet" href="css/case-menu.css" media="screen">

    <script type="text/javascript" src="iScroll/iscroll.js"></script>
    <script type="text/javascript">
    </script>

    <style type="text/css">
        div .ui-badge {
            display: none;
        }
    </style>
</head>
<body class="body">
<header class="ui-header ui-header-positive" style="background-color: #4F4C4C">
    <i class="ui-icon-return" onclick="history.back()"></i>

    <h1>菜单</h1>
</header>
<div id="shadow-bg" class="shadow-bg" onclick="onTapShadow()">
</div>
<div class="order_goods">
    <!--<div class="list-header ui-flex ui-flex-align-center ui-flex-pack-end"-->
         <!--style="width: 100%;height: 30px;padding-right: 10px;">-->
        <!--<div class="ui-row" style="">-->
            <!--<img style="float: left; width: 15px;height: 15px;" src="icons/delete_icon.png"/>-->
            <!--<h6 class="ui-nowrap" style="color: #4F4C4C">清空购物车</h6>-->
        <!--</div>-->
    <!--</div>-->
        <ul class="ui-list ui-list-function ui-border-tb">
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>

                <h4 class="order_price">￥123.0</h4>

                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png"/>
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>
                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png">
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>
                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png">
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>
                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png">
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>
                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png">
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>
                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png">
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
            <li class="ui-border-t">
                <h4 class="dot_character">&#8226;</h4>

                <div class="ui-list-info" style="margin-left: 10px">
                    <h4 class="ui-nowrap">红烧河豚</h4>
                </div>
                <div class="ui-list-add-btn">
                    <img src="icons/add_icon.png">
                </div>
                <h4 class="case_num_h" style="display: block;">1</h4>

                <div class="ui-list-remove-btn" style="display: block;">
                    <img src="icons/remove_icon.png">
                </div>
            </li>
        </ul>
</div>
<footer class="ui-footer ui-footer-stable ui-border-t">
    <div class="ui-row-flex" style="height: 100%;">
        <div onclick="onTapCart()" class="ui-col ui-col-3">
            <div class="ui-row account" style="">
                <div class="cart">
                    <img src="icons/cart_icon.png">

                    <div class="ui-badge"></div>
                </div>
                <p>购物车空空如也~</p>
            </div>
        </div>
        <div class="ui-col complete">结算</div>
    </div>
</footer>
<section class="ui-container">
    <div class="ui-row-flex">
        <div class="ui-col left_col" id="left_col">
            <ul class="ui-list ui-border-tb left_col_ul">
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">特色菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
                <li class="left-col-item">
                    <div class="ui-list-info" style="margin-left: 15px">
                        <h4 class="ui-nowrap" style="color: #ffffff">炒菜</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ui-col right_col ui-col-3" id="right_col">
            <ul class="ui-list ui-border-tb">
                <li class="ui-border-t">
                    <div class="ui-list-img ui-tag-hot">
                        <span style="background-image:url(images/hetun.jpg);"></span>
                    </div>
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap">红烧河豚</h4>
                        <h4 class="ui-nowrap" style="color: #FF5E24;">123.0￥</h4>
                        <h6 class="ui-nowrap">325人点过</h6>
                    </div>
                    <div class="ui-list-add-btn">
                        <img src="icons/add_icon.png">
                    </div>
                    <h4 class="case_num_h">0</h4>

                    <div class="ui-list-remove-btn">
                        <img src="icons/remove_icon.png">
                    </div>
                </li>
                <li class="ui-border-t">
                    <div class="ui-list-img ui-tag-hot">
                        <span style="background-image:url(images/hetun.jpg);"></span>
                    </div>
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap">红烧河豚</h4>
                        <h4 class="ui-nowrap" style="color: #FF5E24;">123.0￥</h4>
                        <h6 class="ui-nowrap">325人点过</h6>
                    </div>
                    <div class="ui-list-add-btn">
                        <img src="icons/add_icon.png">
                    </div>
                    <h4 class="case_num_h">0</h4>

                    <div class="ui-list-remove-btn">
                        <img src="icons/remove_icon.png">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<script type="text/javascript">

    var orderNums = 0;//已点商品总数

    /*将导航栏的高度和底部结算栏的高度去掉*/
    var headBarHight = $('.ui-header').height();
    var footerHeight = $('.ui-footer').height();
    $('.left_col').css('height', $(window).height() - headBarHight - footerHeight);
    $('.right_col').css('height', $(window).height() - headBarHight - footerHeight);

    /*第一个为选中状态*/
    $(".left_col_ul li:first-child").addClass("left-item-selected");
    $(".left_col_ul li:first-child div h4").css('color', '#000000');

    $('.left_col_ul li').click(function () {
        var currentThis = this;
        $(".left_col_ul li").each(function () {
            if (currentThis == this) {
                $(this).addClass("left-item-selected");
                $(this).find('h4').css('color', '#000000');
            } else {
                $(this).removeClass("left-item-selected");
                $(this).find('h4').css('color', '#ffffff');
            }
        });
    });

    $('.ui-list-add-btn').click(function () {
        orderNums ++;
        if(orderNums > 0){
            $('.ui-badge').css('display', 'block');
            $('.ui-badge').html(orderNums);
        }
        var nums = $(this).parent().find('.case_num_h').text();
        nums = parseInt(nums);
        nums = nums + 1;
        $(this).parent().find('.case_num_h').css('display', 'block');
        $(this).parent().find('.case_num_h').text(nums);
        $(this).parent().find('.ui-list-remove-btn').css('display', 'block');
    });

    $('.ui-list-remove-btn').click(function () {
//        var index = $(this).parent().index();//li的index
        orderNums --;
        $('.ui-badge').html(orderNums);
        if(orderNums == 0){
            $('.ui-badge').css('display', 'none');
        }
        var nums = $(this).parent().find('.case_num_h').text();
        nums = nums - 1;
        if (nums == 0) {
            $(this).parent().find('.case_num_h').css('display', 'none');
            $(this).css('display', 'none');
        }
        $(this).parent().find('.case_num_h').text(nums);
    });

    var mleftScroll;
    var mrightScroll;
    var orderGoodsScroll;
    mleftScroll = new IScroll('.left_col', {
        preventDefault: false,
        hScrollbar: false,
        vScroll: true,
        hideScrollbar: true //是否隐藏滚动条
    });
    mrightScroll = new IScroll('.right_col', {
        preventDefault: false,
        hScrollbar: false,
        vScroll: true,
        hideScrollbar: true //是否隐藏滚动条
    });
    $('body').bind("touchmove", function (e) {
        e.preventDefault();
    });

    function onTapCart() {
        $('.shadow-bg').css('display', 'block');
        /*禁止滑动*/
        $('.shadow-bg').bind("touchmove", function (e) {
            e.preventDefault();
        });

        $('.order_goods').css('display', 'block');

        orderGoodsScroll = new IScroll('.order_goods', {
            preventDefault: false,
            hScrollbar: false,
            vScroll: true,
            hideScrollbar: true //是否隐藏滚动条
        });
    }

    function onTapShadow() {
        $('.order_goods').css('display', 'none');
        $('.shadow-bg').css('display', 'none');
        orderGoodsScroll = null;
    }

</script>
</body>
</html>
