/*隐藏滚轮*/
::-webkit-scrollbar {
    display: none;
}

.left_col .right_col {
    background-color: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.left_col {
    background-color: #4F4C4C;
}

.left-col-item {
    background-color: #4F4C4C;
    margin-left: 0px !important;
}

.ui-list-img {
    width: 68px;
}

.ui-list-img span {
    background-position: center center;
    background-size: cover;
}

.ui-list-info {
    -webkit-box-pack: start;
}

.ui-list-info h6 {
    position: absolute;
    bottom: 10px;
    color: #a3a3a3;
}

.ui-list-add-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.ui-list-remove-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 60px;
    display: none;
}

.case_num_h {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 45px;
    display: none;
}

.ui-list-add-btn img {
    width: 100%;
    height: 100%;
}

.ui-list-remove-btn img {
    width: 100%;
    height: 100%;
}

.left-item-selected {
    background-color: #ffffff;
}

.ui-footer {
    height: 45px;
}

.cart {
    margin-left: 10px;
    float: left;
    position: relative;
}

.cart div {
    position: absolute;
    top: 1px;
    right: 0px;
}

.cart img {
    width: 35px;
    height: auto;
    margin-top: 5px;
}

.account {
    width: 100%;
    height: 100%;
}

.account p {
    float: left;
    line-height: 45px;
    color: #a4a4a4;
    font-size: 13px;
    margin-left: 5px;
}

.complete {
    background-color: #DE5245;
    text-align: center;
    color: #ffffff;
    line-height: 45px;
}

.shadow-bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

.order_goods {
    display: none;
    z-index: 100;
    width: 100%;
    max-height: 220px;
    position: fixed;
    bottom: 45px;
    overflow-y: scroll;
    background-color: #ffffff;
}

.dot_character {
    position: absolute;
    top: 10px;
    left: 0px;
    color: #4F4C4C;
}

.order_price {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 120px;
    color: #FF5E24;
}

.header-section h4 {
    line-height: 25px;
    margin-left: 15px;
    font-size: 13px;
    height: 25px;
}